
<div id="root">
  <div id="left-container" class="flex-column huiborder">
    <div class="header flex-row">
      <div class="nav">
        <p>Angular Practise</p>
      </div>
      <div class="canvas">
        <p>We should add some icons at here!</p>
      </div>
    </div>
    <div class="main flex-row huiborder-top">
      <div class="nav huiborder-right">
        <div class="title">
          <p class="left">PICTURES</p>
          <p class="rightpart">NAMES</p>
        </div>
        <p>It's for Object items list</p>
        <p>It's for Object items list</p>
        <p>It's for Object items list</p>
        <p>It's for Object items list</p>
      </div>
      <div class="canvas">
      </div>
    </div>
    <div class="macrobar huiborder-top">
    </div>
  </div>
  <app-my-sidebar id=sidebar class="huiborder-top" data-sidebar="expanded"></app-my-sidebar>
</div>
