
    <div class="dockcontrol">
        <span class="dockexpandcollapse">
            <div data-icon="collapsed-arrow">
            </div>
        </span>
    </div>
    <div class="container">
        <div data-palette="1/4">
            <span data-title="">Info</span>
        </div>
        <div data-palette="2/4">
            <span data-title="">Control</span>
        </div>
        <div data-palette="3/4">
            <span data-title="">Content</span>
        </div>
        <div data-palette="4/4">
            <span data-title="">Layouts</span>
        </div>
        <content-tab class="tab-container"></content-tab>
    </div>
