<div id=sidebar class="huiborder-top" data-sidebar="expanded">
    <div class="dockcontrol">
        <span class="dockexpandcollapse">
            <div data-icon="collapsed-arrow">
            </div>
        </span>
    </div>
    <div class="container">
        <div data-palette="1/4">
            <span data-title="">Info</span>
        </div>
        <div data-palette="2/4">
            <span data-title="">Control</span>
        </div>
        <div data-palette="3/4">
            <span data-title="">Content</span>
        </div>
        <div data-palette="4/4">
            <span data-title="">Layouts</span>
        </div>
        <div class="tab-container">
            <div class="row">
                <div class="left-cell">image</div>
                <div class="right-cell">flower</div>
            </div>
            <div class="row">
                <div class="left-cell">image</div>
                <div class="right-cell">shower</div>
            </div>
            <div class="row">
                <div class="left-cell">image</div>
                <div class="right-cell">tower</div>
            </div>
            <div class="row">
                <div class="left-cell">image</div>
                <div class="right-cell">horses</div>
            </div>
            <div class="row">
                <div class="left-cell">image</div>
                <div class="right-cell">playing</div>
            </div>
            <div class="row">
                <div class="left-cell">image</div>
                <div class="right-cell">flower</div>
            </div>
            <div class="row">
                <div class="left-cell">image</div>
                <div class="right-cell">shower</div>
            </div>
            <div class="row">
                <div class="left-cell">image</div>
                <div class="right-cell">tower</div>
            </div>
            <div class="row">
                <div class="left-cell">image</div>
                <div class="right-cell">horses</div>
            </div>
            <div class="row">
                <div class="left-cell">image</div>
                <div class="right-cell">playing</div>
            </div>
        </div>
</div>